<footer class="footer">
  <div class="container">
    <p class="text-muted">Developed by <a href="https://github.com/wputvecklare/" target="_blank" rel="license noopener">Adam Bergman</a>.</p>
  </div>
</footer>