<footer class="page-footer">
<div class="footer">
  <div class="container">
    <p>Developed by <a class="white-text" href="https://github.com/adambergman1/" target="_blank" rel="license noopener">Adam Bergman</a>.</p>
  </div>
</div>
</footer>